.thumbnail{
	height: 500px;
	margin-top:120px;
	margin-bottom: 0px;
	
}
.login-pic{
	height: 490px;
	padding:0px;
	background-image: url(../images/login.png);

}
.login-form{
	height: 490px;
	padding: 0px;
	border-left: 1px solid #DDDDDD;
}
.login-head{
	height:70px;
	margin-top: 50px;
	margin-bottom: 20px;
}
.login-head>ul>li{
	list-style: none;
	line-height: 70px;
	float: left;
	font-family: "微软雅黑";
}
.control-label{
	font-family:  "微软雅黑";
	font-size: 16px;
}
.about-agreement>a{
	font-family:  "微软雅黑";
	font-size: 12px;
}
.form-group{
	font-family:  "微软雅黑";
}














